@font-face {
    font-family: "MierB";
    src: url("../fonts/MierB/MierB-Book.woff") format('woff');
    font-weight:400;
}
@font-face {
    font-family: "MierB";
    src: url("../fonts/MierB/MierB-Bold.woff") format('woff');
    font-weight:700;
}

@font-face {
    font-family: "General-Grotesque-Mono";
    src: url("../fonts/General_Grotesque_Mono/GeneralGrotesqueMono-Regular.woff") format('woff');
}

body {
  font-family: 'General-Grotesque-Mono', sans-serif;
  overflow-x: hidden;
}

.bold {
  font-weight: 700;
}

h1.main-title {
  font-size: 44px;
  line-height: 52px;
  width: 100%;
  text-align: center;
  margin-top: 62px;
}

.project-thumbnail {
  background-color: #C4C4C4;
  position: relative;
  width: 100%;
  padding-top: 65%;
}

.card-3 h3.card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 700;
  margin-top: 30px;
}

.card-3 p.card-description {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

button.main-button {
  color: #f2f2f2;
  background-color: #333333;
  padding: 16px;
  font-size: 18px;
  line-height: 21px;
  border: 0;
  margin: auto;
  display: flex;
}

.animate-entry {
  opacity: 0;
  transition: opacity .6s ease;
}

.animate-entry.visible {
  opacity: 1;
  transition: opacity .6s ease .3s;
}

.fixed-nav-wrapper {
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 197px;
  transition: height .1s linear .4s;
}

.fixed-nav-wrapper.expanded {
  height: 100vh;
  transition: height .0s linear;
}

.navbar {
  padding: 72px 0;
  background-color: #fff;
  transition: margin .4s ease;
}

.navbar .container {
  display: block;
}

.navbar .container .col-12 {
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.navbar, .navbar-brand, #mobile-navigation .nav-link {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #333;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: .5rem 0;
}

.navbar-nav li:last-child {
  padding-right: 0;
  :
}

.navbar .navbar-collapse {
  justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #000000;
}

.nav-item {
  padding-left: 16px;
  padding-right: 16px;
}

#mobile-toggle {
  border: 0;
}

#mobile-toggle .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#mobile-navigation .nav-item {
  padding: 0;
}

#mobile-navigation {
  position: absolute;
  opacity: 0;
  transition: opacity .4s ease, left .1s linear .4s;
  background-color: #fff;
  width: 100%;
  height: 100%;
  left: 999999px;
}

.fixed-nav-wrapper.expanded #mobile-navigation {
  opacity: 1;
  left: 0;
  transition: opacity .4s ease;
}

.mobile-only {
  display: block;
}

.content-wrapper {
  padding-top: 197px;
}

.row.vertical-margins {
  margin-top: 50px;
  margin-bottom: 50px;
}

.bottom-margin {
  margin-bottom: 50px;
}

.negative-bottom-margin {
  margin-bottom: -50px;
}

.hero-video-component {
  background-color: #E0E0E0;
  position: relative;
  width: 100%;
  padding-top: 65%;
}

.client-bubble {
  background-color: #C4C4C4;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  margin: auto;
}

footer.footer {
  background-color: #F2F2F2;
  padding-bottom: 550px;
}

@media (min-width: 992px) {
  .mobile-only {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 991.98px) {

  .navbar-expand-lg>.container,
  .navbar-expand-lg>.container-fluid, .navbar-expand-lg>.container-sm, .navbar-expand-lg>.container-md, .navbar-expand-lg>.container-lg, .navbar-expand-lg>.container-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}
