.mini-graph-wrapper {
  position:relative;
  border-radius: 500px;
  background-color: $clr-dark;
  box-shadow: inset 0px 0px 40px $active-ghost-shadow-clr;
  margin-top:150px;
  margin-bottom:150px;

  .mini-graph-button {
    position:absolute;
    border:none;
    width:48px;
    height:48px;
    border-radius: 24px;
    background-color: $clr-dark;
    box-shadow: 0px 0px 19px $active-ghost-shadow-clr;
    top: 50%;
    transform: translateY(-50%);
    transition: box-shadow .3s ease;

    svg {
      stroke:$clr-white;
      margin-top:-5px;
      opacity:.7;
      transition:opacity .3s ease;
    }

    &:hover {
      box-shadow: 0px 0px 10px $active-ghost-shadow-clr;

      svg {
        opacity:1;
      }
    }

    &.left {
      left:30px;

      svg {
        transform:scaleX(-1);
      }
    }
    &.right {
      right:30px;
    }
  }

  .mini-graph-both-container {
    display:flex;
    transition:margin .7s ease .05s;

    .mini-graph-container {
      position:relative;
      top:0;
      left:0;
      border-radius: 500px;
      background-color: $clr-dark;
      padding:30px;
      flex-direction:row;
      display:flex;

      &.left {
        pointer-events:all;
        box-shadow: 0px 0px 40px $active-ghost-shadow-clr;
        .mini-graph-graph-wrapper {
          opacity:1;
          transition:opacity .8s ease .3s;
        }
        .mini-graph-p-wrapper {
          opacity:1;
          transition:opacity .8s ease .4s;
        }
        .mini-graph-share-wrapper {
          opacity:1;
          transition:opacity .8s ease .6s;
        }
      }
      &.right{
        pointer-events:none;
        transform: translateX(-100%);
        box-shadow:none;
        background-color:transparent;
        .mini-graph-graph-wrapper, .mini-graph-p-wrapper, .mini-graph-share-wrapper {
          opacity:0;
          transition:opacity .15s ease;
        }
      }

      .mini-graph-graph-wrapper {
        display:flex;
        flex-direction:column;
        justify-content:center;


        .mini-graph {
          width:85px;
          position:relative;

          .mini-graph-back {
            width:100px;
            height:100px;
            fill:none;
            stroke:$clr-white;
            stroke-width:10;
          }
        	.mini-graph-main {
            -webkit-transform-origin: 50% 50%;
            -moz-transform-origin: 50% 50%;
            -o-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            transform:rotate(-90deg);
            fill:none;
            stroke:$active-ghost-clr;
            stroke-width:10;
            stroke-dasharray:0,100;
            transition: stroke-dasharray 1.5s ease .1s;
            filter: drop-shadow(0px 0px 1px rgba(13, 32, 26, 0.5));
          }
        }
      }

      .mini-graph-p-wrapper {
        display:flex;
        flex-direction:column;
        justify-content:center;
        margin-left:30px;

        p {
          margin-bottom:0;
        }
      }
      .mini-graph-share-wrapper {
        display:flex;
        flex-direction:column;
        justify-content:center;
        margin-left:30px;

        .main-button {
          width: 37px;
          height: 37px;
          padding: 0.4em;
          line-height: 14px;
          margin-right: 6px;
          transition:width .3s ease, height .3s ease, margin .3s ease;

          .idle {
            pointer-events:none;
            width:100%;
            img {
              margin:5px;
            }
          }

          .hover {
            position:absolute;
            padding:0;
            pointer-events:none;
            width:80px;
            height:80px;
            margin-left:-20px;
            margin-top:-20px;
            transition:margin .3s ease;

            .social-anchor {
              top:0;
              position:absolute;
              svg {
                height:21px;
              }
              
              &:nth-of-type(1) {
                margin-top:10px;
                margin-left:58px;
              }
              &:nth-of-type(2) {
                margin-top:84px;
                margin-left:28px;
              }
              &:nth-of-type(3) {
                margin-top:84px;
                margin-left:94px;
              }
            }
          }

          .copied {
            top:45px;
            left:-100%;
            width:300%;
            &.visible {
              top:50px;
            }
          }

          &:hover {
            width:80px;
            height:80px;
            margin-right:-15px;
            margin-left:-14px;

            .idle {
              img {
                margin:26px;
                transition:margin .3s ease;
              }
            }

            .hover {
              pointer-events:all;
              margin-left:0;
              margin-top:0;

              .social-anchor {
                &:nth-of-type(1) {
                  margin-top:5px;
                  margin-left:29px;
                }
                &:nth-of-type(2) {
                  margin-top:42px;
                  margin-left:14px;
                }
                &:nth-of-type(3) {
                  margin-top:42px;
                  margin-left:47px;
                }
              }
            }

            .copied {
              top:75px;
              left:-100%;
              width:300%;
              &.visible {
                top:90px;
              }
            }
          }
        }
      }
    }
  }

  &.move {
    .mini-graph-both-container {
      margin-left: 16.66666667%;
      margin-right: -16.66666667%;

      .mini-graph-container {
        &.left {
          pointer-events:none;
          .mini-graph-graph-wrapper, .mini-graph-p-wrapper, .mini-graph-share-wrapper {
            opacity:0;
            transition:opacity .15s ease;
          }
        }
        &.right {
          pointer-events:all;
          .mini-graph-graph-wrapper {
            opacity:1;
            transition:opacity .8s ease .3s;

            .mini-graph .mini-graph-main {
                stroke-dasharray: $percentage-right, 100;
            }
          }
          .mini-graph-p-wrapper {
            opacity:1;
            transition:opacity .8s ease .4s;
          }
          .mini-graph-share-wrapper {
            opacity:1;
            transition:opacity .8s ease .6s;
          }
        }
      }
    }
  }

  &:not(.move) .mini-graph-both-container .mini-graph-container {
    &.left {
      .mini-graph-graph-wrapper .mini-graph .mini-graph-main {
        stroke-dasharray: $percentage-left, 100;
      }
    }
  }
}
