@font-face {
  font-family: 'Integral CF';
  src: local('../../fonts/Integral CF Medium'), local('Integral-CF-Medium'),
      url('../../fonts/IntegralCF-Medium.woff2') format('woff2'),
      url('../../fonts/IntegralCF-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../../fonts/IBMPlexSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../../fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../fonts/IBMPlexMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
}



$clr-white: #fdf3e0;
$clr-dark: #0D201A;
$clr-purple: #5236FB;
$clr-red: #FF4A59;
$clr-green: #32FFB5;
$clr-dark-green: #2FAFA5;
$clr-yellow: #FFFF00;

$clr-ghost-red: #FF4A59;
$clr-ghost-yellow: #F8BB55;
$clr-ghost-blue: #50A5FA;
$clr-ghost-pink: #FCB5FF;

@import "main";
